.body
  .top そうめん
  .explanation-img
  .select-message 難易度を選んでください
  .level
    .level__1
      = link_to "/main_1", class: "number" do
        難易度☆
      .detail このアプリの意味が分かる程度の難易度
    .level__2
      = link_to "/main_2", class: "number" do
        難易度☆☆
      .detail おそらく普通であろう難易度
    .level__3
      = link_to "#", class: "number" do
        難易度☆☆☆
      .detail 速さに挑戦してみたいあなたへの難易度