* {
  box-sizing: border-box;
  cursor: default;
}

.upper-space{
  height: 20vh;
  width: 100vw;
}

.row_speed{
  //border: solid 1px black;
  height: 60vh;
  //margin: 0 auto;
  //overflow: hidden;
  //position: relative;
  //width: 50%;
  p {
    font-family: "游明朝", "游明朝体";
    margin:0;
    padding-left: 100%; /*アニメーションの範囲*/
    display: inline-block; 
    white-space: nowrap;
    animation-name: marquee; /*アニメーションのクラス名*/
    animation-timing-function: linear;/*アニメーションのタイミング・進行割合の指定*/
    animation-duration: 25s; /*アニメーションの速度*/
    animation-iteration-count: infinite;/*アニメーションの動作回数*/
    &:hover{
      color: salmon;    
    }
  }
}
@keyframes marquee {/*動作範囲(上級者向けの設定)*/
  from   { transform: translate(0%);} 
  99%,to { transform: translate(-100%);}
}

.dawn-space{
  height: 20vh;
  width: 100vw;
}